
li {
    display: inline;
}   


/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: lightseagreen;
}

.color1 {
    background-color: white;
   padding : 1%;
}

.font1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    /* background-color: cornflowerblue; */
}

.block1{
background: lightseagreen;
display: inline;
padding: 28px;

}

.card-height1{

    padding: 10%;

}

.bgcolor1{

    background-color:white;
}

#aboutmecolor {
    color: lightseagreen;
}
.footer1 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightseagreen;
    color: white;
    text-align: center;
    height: 1.5%;
}

#textfloat{
float:left;
position: relative;
/* position: fixed; */

}
.imagefloat {
    float: left;
    position: relative;
}


.imagemargin {
    margin-right: 25px;
}


/* .header1 {
    float:left;
    background-color: blue;
    width:15%;
    padding:2%;
} */

.block_1   {
   
border-top: 2px solid #ccc;

} 
